/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.fivecol, .sixcol, .sevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}


.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {
	
}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .fivecol, .row .sixcol, .row .sevencol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

  html {
    font-size: 14px; }

	body {
    font-size: 1.2em;
  	line-height: 1.5em;
		background: #FFF url('../images/white_texture.png');
		color: #10284A;
    font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
	
	.header {
    background: #FFF url('../images/leather.png');
    border-bottom: 3px solid #10284A;
    padding-top: 20px; }

  h1 {
    margin-bottom: .3em;
    padding: 20px;
    line-height: 1em;
    font-family: 'Lobster';
    font-size: 9em;
    text-align: center; }

  a {
    color: #10284A;
    text-decoration: none; }

  p {
    font-size: 1.2em;
    line-height: 1.4em;
    padding-bottom: 12px; }


  #starshield {
    background: url('../images/starshield.png') no-repeat;
    width: 119px;
    height: 106px;
    margin: 0 auto;
    margin-top: -51px; }

  ul {
    list-style: none; }

  /*********** Links ***********/

  #nav {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left; }

  #nav li {
    height: 57px;
    clear: both; }

  #nav img {
    float: left;
    margin-right: 8px; }

  .link-text {
    float: left;
    line-height: .9em;
    margin-top: 13px; }

  .small {
    color: #777;
    font-size: .7em; }
  
  #article a { color: #360; }
  #calendar a { color: #900;}
  #fb a { color: #10284A; }
  
  /******** For rides call *********/

  h2 {
    font-size: 12em;
    width: 100%;
    font-family: Ultra;
    line-height: 1.1em; }

  #rides {
    float: left;
    margin-bottom: 15px; }

  .phone { float: right; }
  
  /************ Slides *************/

  .slides {
    max-width: 570px;
    position: relative;
    z-index: -1; }
  
  .slide-text {
    position: absolute;
    bottom: 8px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
    font-size: .8em; }

  .slide-text p {
    padding-bottom: 0;
    font-size: 1em;
    line-height: 1.2em; }

  .spacer {
    padding: 5px 10px 5px 10px; }
  h3 { color: #F8C718; }

  /************** Article **************/
  
  .article-container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px; }

  .article-container h2 {
    font-size: 2em;
    margin: 10px 0; }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media screen and (min-width: 571px) and (max-width: 780px) {

  .article-container {
    width: 75%;
  }

}

@media screen and (max-width: 570px)  {
  html {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
	
	body {
		min-width: 320px;
		overflow: auto;
    font-size: .9em;
    line-height: 1.5em;
	}

  .article-container {
    width: 80%;
  }
	
}
