/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

  html {
    font-size: 14px; }

	body {
    font-size: 1.2em;
  	line-height: 1.5em;
		background: #FFF url('../images/soft_wallpaper.png');
		color: #10284A;
    font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
	
	.header {
    background: #FFF url('../images/leather.png');
    border-bottom: 3px solid #10284A;
    padding-top: 20px; }
    
  h1 {
    margin-bottom: .3em;
    padding: 20px;
    line-height: 1em;
    font-family: 'Lobster';
    font-size: 9em;
    text-align: center; }
  
  a {
    color: #10284A;
    text-decoration: none; }
    
  #starshield {
    background: url('../images/starshield.png') no-repeat;
    width: 119px;
    height: 106px;
    margin: 0 auto;
    margin-top: -51px; }
  
  ul {
    list-style: none; }
    
  /*********** Links ***********/
  
  #nav {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left; }
  
  #nav li {
    height: 57px;
    clear: both; }
  
  #nav img {
    float: left;
    margin-right: 8px; }
  
  .link-text {
    float: left;
    line-height: .9em;
    margin-top: 13px; }
  
  .small {
    color: #777;
    font-size: .7em; }
  
  #article a { color: #360; }
  #calendar a { color: #900;}
  #fb a { color: #10284A; }
  
  /******** For rides call *********/

  h2 {
    font-size: 12em;
    width: 100%;
    font-family: Ultra;
    line-height: 1.1em; }

  #rides {
    float: left;
    margin-bottom: 15px; }

  .phone { float: right; }
  
  /************ Slides *************/

  .slides {
    position: relative;
    z-index: -1; }
  .slide-text {
    position: absolute;
    bottom: 8px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
    font-size: .8em; }
  .spacer {
    padding: 10px; }
  h3 { color: #F8C718; }

  /************** Article **************/
  
  .article-container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px; }

  .article-container h2 {
    font-size: 2em;
    margin: 10px 0; }

  p {
    font-size: 1.2em;
    line-height: 1.4em;
    padding-bottom: 12px; }
    

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media screen and (min-width: 571px) and (max-width: 780px) {

	body {
    font-size: 1em;
    line-height: 1.5em;	
	}

}

@media screen and (max-width: 570px)  {
  html {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
	
	body {
		min-width: 320px;
		overflow: auto;
    font-size: .875em;
    line-height: 1.5em;
	}
	
}
